/* static/css/styles.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px; /* Updated margin */
    width: 100%;
}

nav a {
    margin: 0 10px; /* Added margin */
}

#map {
    margin-top: 20px; /* Added margin top */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Calendar styles */
#calendar {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

/* Specific styles for popup content */
.popup-content {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
}

.popup-heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.popup-text {
    margin-bottom: 5px;
}

.availability-status {
    font-weight: bold;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}
